nav {
    padding: 15px;
    background-color: lightgrey;
  }

.nav-elements{
    display: inline-block;
    padding: 20px;
    text-align: center;
    width: 100px;
    background-color: #333333;
    color: white;
}

.left-container{
    width: 28%;
    height: 500px;
    float: left;
    background-color: lightgrey;
    text-align: center;
    padding: 10px;
}

.left-top-container{
    margin: 5px;
    margin-top: 0px;
    background-color: white;
}

.left-bottom-container{
    margin: 5px;
    background-color: white;
}

.right-container{
    width: 66%;
    height: 500px;
    float: left;
    background-color: lightgrey;
    padding: 10px;
}

.top-right-container{
    margin: 5px;
    background-color: white;
}

.logo{
    width: 100px;
}

.medium-image{
    width: 200px;
    display: inline;
}

.main-image{
    width: 300px;
    float: left;
    padding: 15px;
    border: 1px black;
    display: inline;
}

ul{
    text-align: left;
}